body{
    font-family: 'Space Grotesk', sans-serif;
    
    letter-spacing: 2px;
}
.container-2xl{
    grid-template-rows: 33% 73%;
}
@media (min-width: 1440px) {
     .container-2xl{
        grid-template-columns:35% 65%;
     }
}
@media (min-width: 1440px) {
     .bg-color img{
        background-image: url('./images/bg-main-desktop.png');
     }
}
.card-front{
    grid-template-rows: 60% 40%;
    margin-top: -5rem;
}
label{
    letter-spacing: 2px;
    color: hsl(278, 68%, 11%);
}
.cvc{ 
    height: 96%;
}
.exito{
    top: -18rem;
}
@media (min-width: 1440px) {
     .form{
        top: 16rem;
     }
     .exito{
        top: -2rem;
     }
}